.App {
    padding: 1em;
    background: #f0f0f0;

    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    width: 100%;
    height: 4px;
    background-color: #ccc;
}

.WorldView {
}

.World {
    position: relative;
    height: 1000px;
    width: 1000px;
    background-color: gray;
}

.Entity {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: auto;
}

.Entity.Runner {
    background-color: red;
}
